@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  background-color: $bg-body-color;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

header {
  background-color: black;
  color: $header-font-color;
  padding: 30px 25px 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  h1 {
    text-transform: uppercase;
  }

  div {
    display: flex;
    gap: 5px;
    padding: 5px;

    button,
    input {
      padding-inline: 8px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

main {
  height: calc(100vh - 137px);
  width: 90%;
  margin-top: 137px;
  margin-inline: auto;
}

.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
